Module 2/Middleware/bin/
Module 2/Middleware/obj/
Module 2/Configuration/.vs/
Module 2/Configuration/bin/
Module 2/Configuration/obj/
Module 2/Logging/LoggingApp/bin/
Module 2/Logging/LoggingApp/obj/
Module 2/DI/bin
Module 2/DI/obj
Module 2/Host/GenericHost/bin
Module 2/Host/GenericHost/obj
Module 2/Host/WebHost/.vs/
Module 2/Host/WebHost/obj
Module 2/Host/WebHost/bin
Module 2/Server/.vs/
Module 2/Server/bin/
Module 2/Server/obj/
Module 2/ErrorHandling/obj/
Module 2/ErrorHandling/bin/
Module 3/ControllersAndApi/Parking.db
Module 3/ControllersAndApi/bin
Module 3/ControllersAndApi/obj
Module 3/TagHelpers/obj
Module 3/TagHelpers/bin
